/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic layout styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #e3f0ff;
  }
  
  header {
    background-color: #005b96;
    color: white;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  section p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    background-color: #e3f0ff;
    color: #fff;
    padding: 3px;
    text-align: center;
    width: 300px;
  }
#github {
    margin-right: 150px;
}
  p {
    width: 300px;
  }
  
  /* Specific styles for each section */
  #home {
    text-align: center;
    display: block;
  }
  img {
    /* width: fit-content;
    height: 550px;
    display: block; */
    max-width: 100%;
    align-items: center;
    display: inline-block;
    /* height: auto; */
  }
  
  #about {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 60vw;
    height: 100%;
  }
  .carousel-container {
    position: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .carousel-images {
    width: 1000px;
    height: 500px;
    background: none;
    padding: 5px;
    display: flex;
    background-color: #d2e7ff;
    justify-content: center;
    display: flex;
    border-radius: 15px;
  }
  .carousel-images img {
    width: auto;
    border-radius: 0px;
    display: none;
  }
  .carousel-images img:first-of-type{
    display: block;
  }
  .prev, .next {
    align-self: auto;
    background: #fffef9;
    color: grey;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
  }
  #resume {
    text-align: center;
  }
 #resume-tag {
    text-align: center;
    letter-spacing: 3px;
 }
 
 

  
  /* Responsive styles */
  @media (max-width: 900px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav {
      margin-top: 1rem;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  
    #about {
      flex-direction: column;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      background-color: black;
    }
  
    #resume {
      overflow-x: auto;
    }
  
    #projects .project {
      flex-basis: 100%;
    }
};