/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic layout styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #e3f0ff;
  }
  
  header {
    background-color: #005b96;
    color: white;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  section p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    background-color: #e3f0ff;
    color: #fff;
    padding: 3px;
    text-align: center;
    width: 300px;
  }
#email {
  margin-right: 75px;
}
  p {
    width: 300px;
  }
  #riki {
    color: white;
    text-decoration: none;
  }
  
  /* Specific styles for each section */
  #home {
    text-align: center;
    display: block;
  }
  #intro {
    position:relative;
    font-size: 70px;
    top: -450px;
    text-align: left;
    right: 50px;
    animation: grow 2s ease-in-out;
  }
  #homepage-picture {
    height: 600px;
    width: 750px;
    margin-left: 450px;
  }
  @media (min-width: 768px) and (max-width: 1000px) {
    #homepage-picture {
      position: relative;
      margin: auto;
    }
    #intro {
      margin-top: 450px;
      margin-left: 300px;
      scale: 100%;
    }
    #home1 {
      margin-left: 300px;
      scale: 200%;
    }
    #home2 {
      margin-left: 300px;
      scale: 200%;
    }
    #home3 {
      margin-left: 300px;
      scale: 200%;
    }
  }
  #home1 {
    color: #005b96;
    font-weight: bold;
    animation: grow 4s ease-in-out;
    position: relative;
    top: -450px;
    letter-spacing: 1px;
  }
  
  #home2 {
    color: black;
    animation: grow 5s ease-in-out;
    position: relative;
    top: -400px;
    letter-spacing: 1px;
  }
  
  #home3 {
    color: black;
    animation: left-slide 6s ease-in-out;
    position: relative;
    top: -360px;
    letter-spacing: 1px;
  }
  img {
    max-width: 100%;
    border-radius: 15px;
  }
  
  #about {
    display: flex;
    align-items: center;
  }
  #aboutme-text {
    font-size: small;
    font-weight: bold;
    text-align: left;
    right: 50px;
    position: relative;
    animation: grow 4s ease-in;
  }
  .container {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 100%;
  }
  .carousel-container {
    position: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  #carousel-images {
    width: 1000px;
    height: 500px;
    background: none;
    padding: 5px;
    display: flex;
    background-color: #d2e7ff;
    justify-content: center;
    display: flex;
    border-radius: 15px;
  }
  #carousel-images img {
    width: auto;
    border-radius: 0px;
    display: none;
  }
  #carousel-images img:first-of-type {
    display: block;
  }
  #prev, #next {
    align-self: auto;
    padding: 15px;
    border-radius: 10%;
    text-align: center;
  }
  @media (min-width: 768px) and (max-width: 1000px) {
    .carousel-container {
      position: relative;
      margin: auto;
    }
    #carousel-images {
      /* margin-top: -400px;
      margin-right: 100px; */
      scale: 100%;
      display: flex;
      order: -1;
    }
    .container {
      position: relative;
      margin-top: 50px;
      justify-content: space-between;
      flex-direction: column;
    }
    .me-img {
      position: relative;
      margin: auto;
    }
    #aboutme-text {
     margin: 100px auto 0px;
     font-size: 10px;
     text-align: center;
     display: flex;
    order: 1;
    align-self: center;
    margin-left: 350px;
    scale: 250%;
    margin-top: 200px;
  }
  #prev {
    /* margin-top: 100px; */
    background-color: black;
    margin-right: 110px;
    display: block;
    justify-content: center;
    padding: 1px;
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: none;
    margin: 0;
    margin-top: 20px;
  }
  #next {
    /* margin-top: 100px; */
    background-color: black;
    margin-left: 110px;
   display: block;
   justify-content: center;
   padding: 1px;
   width: 50px;
   height: 50px;
   border-radius: none;
   margin: 0px;
   margin-top: 20px;
  }
  #about {
    display: flex;
    flex-direction: column;
  }
  #carousel-images img:first-of-type {
    display: flex;
  }
}
  #resume {
    text-align: center;
  }
 #resume-tag {
    text-align: center;
    letter-spacing: 3px;
 }
 #project-tag {
  text-align: center;
  letter-spacing: 3px;
  animation: fade-in 10s;
 }
 #projects {
  text-align: center;
  display: block;
 }
 #hangman {
  margin-top: 20px;
  display: inline-block;
  animation: left-slide 2s;
 }
 #spaceBattle {
  margin-top: 20px;
  display: inline-block;
  animation: right-slide 2s;
 }
 
 

  
  @keyframes grow {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes left-slide {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 2;
    }
  }
  @keyframes right-slide {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 2;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 10;
    }
  }